<link rel='stylesheet' href='/stylesheets/index.css' />
<div class="row">
	{{#if er}}
	<div class="alert alert-danger border border-danger text-center col-12" role="alert">{{msg_arr}}<br></div>
	<p>Welcome to {{title}}!</p>
	{{/if}}
</div>
<div>
	{{#if suc}}
	<p class="alert alert-success border border-success text-center col-12" role="alert">{{msg_arr}}</p>
	{{/if}}
</div>

<div class="users_list">
	{{#if friends}}
	{{#each friends}}
	<a href="/view_profile/{{this._id}}">
		<form action="/friends" method="post">
			<input type="hidden" name="friend" value="{{this._id}}">
			<button type="submit" value="remove_friend">x</button>
			<div class="users row">
				<div class="left "><img src={{this.profile_pic}} alt="Profile Picture" width="150px" height="150px"></div>
				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">{{this.usr_user}}</h5>
						<h6 class="card-subtitle mb-2 text-muted">{{this.usr_name}} &nbsp; {{this.usr_surname}}</h6>
						<p class="card-text">
							Bio: {{this.bio}}
						</p>
						<a href="/view_messages/{{this._id}}" class="card-link btn btn-info">Send Message</a>
					</div>
				</div>
				<div class="right ">{{this.rating}}/5</div>
			</div>
		</form>
	</a>
	{{/each}}
	{{else}}
	<div>
		<p>You don't have friends at the moment</p>
	</div>
	{{/if}}
</div>

<script src="/javascripts/index.js"></script>