<link rel='stylesheet' href='/stylesheets/index.css' />
<div class="row">
	{{#if er}}
	<div class="alert alert-danger border border-danger text-center col-12" role="alert">{{msg_arr}}<br></div>
	<p>Welcome to {{title}}!</p>
	{{/if}}
</div>
<div class="">
	{{#if suc}}
	<p class="alert alert-success border border-success text-center col-12" role="alert">{{msg_arr}}</p>
	{{/if}}
</div>
<div class="container">
	<div class="col-xs-1" align="center">
	{{#if match_list}}
	{{#each match_list}}
	<a href="/view_profile/{{this._id}}">
		<div class="" onclick="goViewProfile(`{{this._id}}`)">
			<div class="col-xs-1" align="center"><img
					src={{this.profile}}
					alt="Profile Picture" width="280px" height="250px"></div>
			{{!-- <div class="left col-3"><img src={{this.pic}} alt="Profile Picture"></div> --}}
			<div class="border border-info" style="width: 18rem;">
				<div class="card-body">
					<h5 class="card-title">{{this.usr_user}}</h5>
					<h6 class="card-subtitle mb-2 text-muted">{{this.usr_name}} &nbsp; {{this.usr_surname}}</h6>
					<p class="card-text">
						Bio: {{this.bio}}
					</p>
					<a href="/friendRequest/{{this._id}}" class="card-link btn btn-info">Add</a>
					<a href="/view_messages/{{this._id}}" class="card-link btn btn-info">Chat with {{this.usr_user}}</a>
				</div>
			</div>
			
		</div>
	</a>
	{{/each}}
	{{/if}}
</div>
</div>


<script src="/javascripts/index.js"></script>