<link rel='stylesheet' href='/stylesheets/index.css' />
{{!-- <h1>{{title}}</h1> --}}
<p>Welcome to {{title}}!</p>
<div class="users_list">
	{{#each match_list}}
	<div class="users row">
		<div class="left col-3"><img src={{this.pic}} alt="Profile Picture"></div>
		<div class="card" style="width: 18rem;">
			<div class="card-body">
				<h5 class="card-title">{{this.usr_user}}</h5>
				<h6 class="card-subtitle mb-2 text-muted">{{this.usr_name}} &nbsp; {{this.usr_surname}}</h6>
				<p class="card-text">
					Bio: {{this.bio}} 
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate quidem blanditiis nobis voluptate suscipit et ducimus, voluptas consequatur autem reprehenderit ut expedita, cum dolore vitae fuga a fugiat eveniet eius!
				</p>
				<a href="#" class="card-link btn btn-info">Add</a>
				<a href="./messages" class="card-link btn btn-info">Send Message</a>
			</div>
		</div>
		<div class="right col-1">rating: {{this.rating}}</div>
			{{!-- <div>gps: {{this.gps}}</div>
			<div>viewd: {{this.viewd}}</div>
			<div>liked: {{this.liked}}</div> --}}
			{{!-- <div>usr_email: {{this.usr_email}}</div> --}}
	</div>
	{{/each}}
</div>