<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
			
		<title>{{title}}</title>
	</head>
<!--
	<body>
		<menu>
			<nav class="navbar fixed-top navbar-expand-lg navbar-danger bg-danger">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01"
				aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"><img src="/images/ionicons.designerpack/md-menu.svg" width="40" alt=""></span>
					{{!-- <span class="navbar-toggler-icon"><img src="./res/ionicons.designerpack/md-heart-empty.svg" width="40" alt=""></span> --}}
				</button>
				<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
					<a class="navbar-brand" href="/index">Matcha</a>
					<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
						<li class="nav-item active">
							<a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li>
						<li class="nav-item"><a class="nav-link" href="/messages">Messages</a></li>
						<li class="nav-item"><a class="nav-link" href="/notifications">Notifications</a></li>
						<li class="nav-item"><a class="nav-link" href="/logout">Login/out</a></li>
					</ul>
					<form class="form-inline my-2 my-lg-0">
						<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
					</form>
				</div>
			</nav>
		</menu>
		<div> 
			
			 <title>{{title}}</title>
			 -->
  
  
  
  <style>
  /* Make the image fully responsive */
  .carousel-inner img {
    width: 100%;
    height: 100%;
  }

  #footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   
   text-align: center;
}
  </style>
</head>

<body class="bg-light">
    <div class="bg-info">
      <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <a class="navbar-brand" href="/index"> <h1><span class="badge badge-danger"> Matcha!</h1></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
            </li>
		<!--	<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
						
						<li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li>
						<li class="nav-item"><a class="nav-link" href="/messages">Messages</a></li>
						<li class="nav-item"><a class="nav-link" href="/notifications">Notifications</a></li>
						<li class="nav-item"><a class="nav-link" href="/logout">Login/out</a></li>
						
					</ul>
          </ul>
		  -->

		  <li class="nav-item">
                    <a class="nav-link" href="/Profile">Profile</a>
                  </li>
                  <li class="nav-item">
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Notifications</button>
                    <div id="demo" class="collapse">
                      {{message}} at {{this_time}}
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Search
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Age</a>
                      <a class="dropdown-item" href="#">Likes</a>
                      <a class="dropdown-item" href="#">Location</a>
                      <a class="dropdown-item" href="#">Fame Rate</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="/">Settings</a>
                    </div>
                  </li>
				  <li class="nav-item"><a class="nav-link" href="/messages">Messages</a></li>
          </ul>
            
			
			{{#if condition1}}
				<a  class="btn btn-outline-light" href="/Register">SignUp</a>
			
			{{else}}		
				<a class="btn btn-outline-light btn my-2 my-sm-0" href="/login">SignOut</a>
			{{/if}}

			{{#if condition}}
				<a class="btn btn-outline-light btn my-2 my-sm-0" href="/login">SignIn</a>
			
			{{/if}}
			
			
        </div>
      </nav>
    </div>

	<br>

		</div>
		{{{body}}}
	</body>

	<br>
	<footer id="footer" class="card-footer">
         <div class="copy">
            <p class="text-center">&copy; Group Project(Matcha)</p>
         </div>
    </footer>


	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</html>