<link rel='stylesheet' href='/stylesheets/messages.css' />
<div class="row">
	{{#if er}}
	<div class="alert alert-danger border border-danger text-center col-12" role="alert">{{msg_arr}}<br></div>
	{{/if}}
</div>
<div>
	{{#if suc}}
	<p class="alert alert-success border border-success text-center col-12" role="alert">{{msg_arr}}</p>
	{{/if}}
</div>

<div class="row">
	{{#each match_list}}
		<div class="col-xs-12">
			<a href="view_messages/{{this._id}}">
				<div class="content">
					<div class="chat_profile row">
						<div class="profile_picture">
							<img src={{this.profile_pic}} alt="" class="rounded-circle d-inline" width="100" height="100">
						</div>
						<div class="information">
							<div class="name text-dark">{{this.usr_user}}</div>
							<small>
								<div class="last_text text-secondary">Last message sent...</div>08:42 19/10/2019
							</small>
						</div>
					</div>
				</div>
			</a>
		</div>
	{{/each}}
</div>