{{!-- <link rel='stylesheet' href='/stylesheets/friend_request.css' /> --}}

<div>
	<h4 class="text-center">Notifications</h4>

	<ul class="nav nav-pills" id="myTab" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" id="friend_request-tab" data-toggle="tab" href="#friend_request" role="tab"
				aria-controls="friend_request" aria-selected="true">Friend request &nbsp<span
					class="badge badge-light">{{notification.num_req}}</span></a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages"
				aria-selected="false">Messages &nbsp<span class="badge badge-light">{{notification.num_msg}}</span></a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="profile_view-tab" data-toggle="tab" href="#profile_view" role="tab"
				aria-controls="profile_view" aria-selected="false">Profile Views &nbsp<span
					class="badge badge-light">{{notifications.num_view}}</span></a>
		</li>
	</ul>

	<div class="tab-content">
		<div class="tab-pane active" id="friend_request" role="tabpanel" aria-labelledby="friend_request-tab">
			<h5 class="text-center">Friend Request</h5>
			{{#each notifications}}
			{{#if this.request}}
			<form action="/notifications" method="post">
				<button type="submit" name="type" value="friend request" class="btn">x</button>
				<div>
					<img src="{{this.pic}}" width="150px" height="150px" alt="">
					<input type="hidden" name="user" value={{this.from}}>
					<div class="">{{this.name}}</div>
				</div>
				<div>
					{{!-- <button type="submit" name="type" value="reject" class="btn btn-danger">Reject</button> --}}
					<button type="submit" name="type" value="friend request" class="btn btn-success">Accept</button>
				</div>
			</form>
			{{/if}}
			{{/each}}
		</div>
		<div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">
			<h5 class="text-center">Messages</h5>
			{{#each notifications}}
			{{#if this.message}}
			<form action="/notifications" method="post">
				<button type="submit" name="type" value="send message" class="btn">x</button>
				<div>
					<img src="{{this.pic}}" width="150px" height="150px" alt="">
					<input type="hidden" name="user" value={{this.from}}>
					<div class="">{{this.name}}</div>
				</div>
				<div>
					<button type="submit" name="type" value="send message" class="btn btn-success">Reply</button>
				</div>
			</form>
			{{/if}}
			{{/each}}
		</div>
		<div class="tab-pane" id="profile_view" role="tabpanel" aria-labelledby="profile_view-tab">
			<h5 class="text-center">Profile Views</h5>
			{{#each notifications}}
			{{#if this.profile}}
			<form action="/notifications" method="post">
				<button type="submit" name="type" value="view profile" class="btn">x</button>
				<div>
					<img src="{{this.pic}}" width="150px" height="150px" alt="">
					<input type="hidden" name="user" value={{this.from}}>
					<div class="">{{this.name}}</div>
				</div>
				<div>
					<button type="submit" name="type" value="view profile" class="btn btn-success">View</button>
				</div>
			</form>
			{{/if}}
			{{/each}}
		</div>
	</div>
</div>

<script>
	$(function () {
		$('#myTab li:last-child a').tab('show')
	})
</script>