{{!-- <link rel='stylesheet' href='/stylesheets/friend_request.css' /> --}}

<div>
	<h4 class="text-center">Notifications</h4>

	<ul class="nav nav-pills" id="myTab" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" id="friend_request-tab" data-toggle="tab" href="#friend_request" role="tab"
				aria-controls="friend_request" aria-selected="true">Friend request &nbsp<span class="badge badge-light">1</span></a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages"
				aria-selected="false">Messages &nbsp<span class="badge badge-light">4</span></a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="profile_view-tab" data-toggle="tab" href="#profile_view" role="tab"
				aria-controls="profile_view" aria-selected="false">Profile Views &nbsp<span class="badge badge-light">3</span></a>
		</li>
	</ul>

	<div class="tab-content">
		<div class="tab-pane active" id="friend_request" role="tabpanel" aria-labelledby="friend_request-tab">
			<h5 class="text-center">Friend Request</h5>
			{{#if notification.friend}}
			{{#each notification.friend}}
				<form action="/notifications" method="post">
					<div>
						<img src="https://media.istockphoto.com/photos/hands-forming-a-heart-shape-with-sunset-silhouette-picture-id636379014?k=6&m=636379014&s=612x612&w=0&h=tnYrf_O_nvT15N4mmjorIRvZ7lK4w1q1c7RSfrVmqKA="
							width="150px" height="150px" alt="">
						<input type="hidden" name="{{this.usr_user}}">
						<div class="">{{this.usr_user}}Mk</div>
					</div>
					<div>
						<button type="submit" name="reject_friend" class="btn btn-danger">Reject</button>
						<button type="submit" name="accept_friend" class="btn btn-success">Accept</button>
					</div>
				</form>
			{{/each}}
			{{/if}}
		</div>
		<div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">
			<h5 class="text-center">Messages</h5>
			{{#if notification.message}}
			{{#each notification.message}}
				<div>
					<span>
						<img src="https://media.istockphoto.com/photos/hands-forming-a-heart-shape-with-sunset-silhouette-picture-id636379014?k=6&m=636379014&s=612x612&w=0&h=tnYrf_O_nvT15N4mmjorIRvZ7lK4w1q1c7RSfrVmqKA="
							width="100px" height="100px" alt="">
						<input type="hidden" name="{{this._id}}">
						<span class="">
							<h6>{{this.usr_user}}Mk</h6>
						</span>
					</span>
					<span>
						{{this.usr_user}}
						<a class="btn btn-success" role="button" href="/view_messages/{{this._id}}">Reply</a>
					</span>
				</div>
			{{/each}}
			{{/if}}
		</div>
		<div class="tab-pane" id="profile_view" role="tabpanel" aria-labelledby="profile_view-tab">
			<h5 class="text-center">Profile Views</h5>
			{{#if notification.profile}}
			{{#each notification.profile}}
				{{this.usr_user}}
				<a href="/view_profile/{{this._id}}"><img
						src="https://media.istockphoto.com/photos/hands-forming-a-heart-shape-with-sunset-silhouette-picture-id636379014?k=6&m=636379014&s=612x612&w=0&h=tnYrf_O_nvT15N4mmjorIRvZ7lK4w1q1c7RSfrVmqKA="
						width="100px" height="100px" alt=""></a>
			{{/each}}
			{{/if}}
		</div>
	</div>
</div>

<script>
	$(function () {
		$('#myTab li:last-child a').tab('show')
	})
</script>
