<link rel='stylesheet' href='/stylesheets/index.css' />
<div class="row">
	{{#if er}}
	<div class="alert alert-danger border border-danger text-center col-12" role="alert">{{msg_arr}}<br></div>
	{{!-- <p>Welcome to {{title}}!</p> --}}
	{{/if}}
</div>
<div>
	{{#if suc}}
	<p class="alert alert-success border border-success text-center col-12" role="alert">{{msg_arr}}</p>
	{{/if}}
</div>

<div class="users_list row">
	<div class="col-md-4">
		{{!-- <a href="/search"><button>clear</button></a> --}}
		<form action="/search" method="post" class="form-inline my-2 my-lg-0">
			<fieldset>
				<legend>Search</legend>
				<div class="form-group col-12">
					<input class="form-control mr-sm-2" type="search" placeholder="Name" name="search"
						aria-label="Search">
					<button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
				</div>
			</fieldset>
			<fieldset>
				<legend>Sort</legend>
				<div class="form-group col-md-4">
					<select id="inputState" class="form-control mr-sm-2" name="order">
						<option selected>Order</option>
						<option value="ascending">Ascending</option>
						<option value="descending">Descending</option>
					</select>
				</div>
			</fieldset>
			<fieldset>
				<legend>Filter</legend>
				<div class="form-group col-12">
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="checkbox" name="intrests" value="tatoo" id="tatoo">
						<label class="form-check-label" for="tatoo"><i># Tatoo</i></label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="checkbox" name="intrests" value="smoke" id="smoke">
						<label class="form-check-label" for="smoke"><i># Smoke</i></label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="checkbox" name="intrests" value="alcohol" id="alcohol">
						<label class="form-check-label" for="alcohol"><i># Alcohol</i></label></div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="checkbox" name="intrests" value="travel" id="travel">
						<label class="form-check-label" for="travel"><i># Travel</i></label></div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="checkbox" name="intrests" value="party" id="party">
						<label class="form-check-label" for="party"><i># Party</i></label></div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="checkbox" name="intrests" value="social" id="social">
						<label class="form-check-label" for="social"><i># Social</i></label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="checkbox" name="intrests" value="introvert"
							id="introvert">
						<label class="form-check-label" for="introvert"><i># Introvert</i></label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="checkbox" name="intrests" value="sports" id="sports">
						<label class="form-check-label" for="sports"><i># Sports</i></label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="checkbox" name="intrests" value="excersise"
							id="excersise">
						<label class="form-check-label" for="excersise"><i># Excersise</i></label></div>
				</div>
				<div class="form-group col-sm-6">
					<label for="Age gap">Age gap</label>
					<input type="number" min="0" max="10" step="1" class="form-control-range" name="age">
				</div>
				<div class="form-group col-sm-6">
					<label for="Fame rating gap">Fame Rating Gap</label>
					<input type="number" min="0" max="5" step="1" class="form-control-range" name="fame">
				</div>
				<div class="form-group col-12">
					<input type="text" class="form-control" placeholder="City/Country" name="location">
				</div>
			</fieldset>
			<button class="btn btn-success my-2 my-sm-0" name="find" type="submit">Find</button>
		</form>
	</div>
	<div class="col-md-8">
		{{#if match_list}}
		{{#each match_list}}
		<a href="/view_profile/{{this._id}}">
			<div class="users row" onclick="goViewProfile(`{{this._id}}`)">
				<div class="left "><img src={{this.profile}} alt="Profile Picture" width="150px" height="150px"></div>
				{{!-- <div class="left col-3"><img src={{this.pic}} alt="Profile Picture"></div> --}}
				<div class="card" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">{{this.usr_user}}</h5>
						<h6 class="card-subtitle mb-2 text-muted">{{this.usr_name}} &nbsp; {{this.usr_surname}}</h6>
						<p class="card-text">
							Bio: {{this.bio}}
						</p>
						{{!-- <a href="/friendRequest/{{this._id}}" class="card-link btn btn-info">Add</a>
						<a href="/view_messages/{{this._id}}" class="card-link btn btn-info">Send Message</a> --}}
					</div>
				</div>
				<div class="right ">{{this.rating}}/5</div>
			</div>
		</a>
		{{/each}}
		{{/if}}
	</div>
</div>

<script src="/javascripts/index.js"></script>