<link rel='stylesheet' href='/stylesheets/view_messages.css' />

<div id="chat">
	<div>
		{{!-- {{chat_data.usr_user}}
		{{chat_data.usr_email}}
		{{chat_data.usr_name}}
		{{chat_data.usr_surname}}
		{{chat_data.usr_psswd}}
		{{chat_data.login_time}}
		{{chat_data.pic}}
		{{chat_data.age}}
		{{chat_data.gender}}
		{{chat_data.oriantation}}
		{{chat_data.rating}}
		{{chat_data.bio}}
		{{chat_data.intrests}}
		{{chat_data.gps}}
		{{chat_data.liked}} --}}
	</div>
	<div>
		<div>
			page: {{page}}
		</div>
		<div>
			user: {{user}}
		</div>
		<div>
			friend: {{friend}}
		</div>
		<div>
			texts: {{texts}}
		</div>
	</div>
	<div id="display-chat">

		<div id="title">
			<h1>{{chat_data.user.usr_user}}</h1>
		</div>

		<div class="message-container right">
			<div class="message">
				{{message}}
			</div>
			<div class="about">
				<div class="sender d-inline text-muted"><b>friend{{sender}}</b> at </div>
				<div class="message_time d-inline text-muted">08:15{{time}}</div>
			</div>
		</div>
		<div class="message-container">
			<div class="message">
				{{message}}
			</div>
			<div class="about">
				<div class="sender d-inline text-muted"><b>you{{sender}}</b> at </div>
				<div class="message_time d-inline text-muted">08:35{{time}}</div>
			</div>
		</div>


		{{!-- <div class="message-container right">
			<div class="message">
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat, veritatis. Cupiditate maxime eum
				accusantium eligendi, odio officia unde soluta? Laudantium eum, deleniti ea sed voluptatum quae aperiam
				veritatis neque accusantium.
			</div>
			<div class="about">
				<div class="sender d-inline text-muted"><b>{{chat_data.usr_user}}</b> at </div>
				<div class="message_time d-inline text-muted">08:15</div>
			</div>
		</div>
		<div class="message-container">
			<div class="message">
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat, veritatis. Cupiditate maxime eum
				accusantium eligendi, odio officia unde soluta? Laudantium eum, deleniti ea sed voluptatum quae aperiam
				veritatis neque accusantium.
			</div>
			<div class="about">
				<div class="sender d-inline text-muted"><b>you</b> at </div>
				<div class="message_time d-inline text-muted">08:35</div>
			</div>
		</div> --}}
		{{!-- <div class="message-container right">
			<div class="message">
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quaerat, veritatis. Cupiditate maxime eum
				accusantium eligendi, odio officia unde soluta? Laudantium eum, deleniti ea sed voluptatum quae aperiam
				veritatis neque accusantium.
			</div>
			<div class="about">
				<div class="sender d-inline text-muted"><b>{{chat_data.usr_user}}</b> at </div>
				<div class="message_time d-inline text-muted">08:15</div>
			</div>
		</div>
		<div class="message-container right">
			<div class="message">
				Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate optio voluptatibus quam eius nemo
				praesentium nulla reiciendis minus quia repudiandae sequi non nobis quas, exercitationem aut saepe
				consequatur repellat repellendus?
			</div>
			<div class="about">
				<div class="sender d-inline text-muted"><b>{{chat_data.usr_user}}</b> at </div>
				<div class="message_time d-inline text-muted">08:15</div>
			</div>
		</div> --}}
		<div class="panel-footer">
			<a href="/view_profile/{{this._id}}">
			</a>
			<form action="/sendMessage" method="post">
				<div class="input-group">
					<input type="hidden" name="dest" value="{{id}}" >
					<input id="btn-input" type="text" name="text" class="form-control input-sm chat_input"
						placeholder="Write your message here..." />
					<span class="input-group-btn">
						<button class="btn btn-primary btn-sm" type="submit" id="btn-chat">Send</button>
					</span>
				</div>
			</form>
		</div>
	</div>

</div>

<script src="/javascripts/view_messages.js"></script>