{{!-- <link rel='stylesheet' href='/stylesheets/profile.css' /> --}}

<div class="row">
	<div class="col-md-6">
		<div class="card" style="width: 25rem;">
			<img class="card-img-top" src="{{picture}}" alt="profile picture">
			<div class="card-body">
				<h5 class="card-title">{{username}} &nbsp; {{age}}</h5>
				<p class="card-text text-muted">
					{{bio}}
				</p>
			</div>
			<ul class="list-group list-group-flush">
				<li class="list-group-item">
					{{#if intrests.tatoo}}#Tatoo  {{/if}}
					{{#if intrests.smoke}}#Smoke  {{/if}}
					{{#if intrests.alcohol}}#Alcohol  {{/if}}
					{{#if intrests.travel}}#Travel  {{/if}}
					{{#if intrests.party}}#Party  {{/if}}
					{{#if intrests.social}}#Social  {{/if}}
					{{#if intrests.introvert}}#Introvert  {{/if}}
					{{#if intrests.excersise}}#Excersise  {{/if}}
					{{#if intrests.sports}}#Sports  {{/if}}
				</li>
				<li class="list-group-item">Online: {{checkin}}</li>
				{{!-- <li class="list-group-item">Vestibulum at eros</li> --}}
			</ul>
			<div class="card-body">
				{{!-- <a href="/friendRequest/{{this._id}}" class="card-link">Add</a> --}}
				{{!-- <a href="/friendRequest/"+{{this._id}}><button>Add</button></a> --}}
				<form action="/friendRequest" method="post">
					<input type="hidden" name="friendId" value={{id}}>
					<button type="submit" name="submit" value="add">Add</button>
					<button type="submit" name="submit" value="block">Block</button>
					<button type="submit" name="submit" value="fake">Fake Account</button>
				</form>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<ul class="list-group">
			<li class="list-group-item">
				<div class="row">
					<div class="inline">
						<div><b>John Doe</b></div>
						<div><i>31/12/2014 </i></div>
					</div>
				</div>
			</li>
			{{#if history}}
			{{#each history}}
			<li class="list-group-item">
				<div class="row">
					<div class="inline">
						<div><b>{{this.name}} &nbsp {{this.surname}}</b></div>
						<div class="time"><i>{{this.date}}</i></div>
					</div>
				</div>
			</li>
			{{/each}}
			{{/if}}
		</ul>
	</div>
</div>
<script src="/javascripts/view_profile.js"></script>
{{!-- <link rel='stylesheet' href='/stylesheets/style.css' /> --}}